<!-- <ion-header>
  <ion-toolbar>
    <ion-title>ads</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content  *ngIf="language">

  <!-- <div id="scene" style="width:100%;height:100%;">

  </div> -->
  <ion-button expand="full">{{language.what_this}}</ion-button>

  <ion-card>

    <ion-card-content>
      <ion-item>
        <ion-icon color="primary" name="globe" slot="start"></ion-icon>
        <ion-label class="moveText">{{language.what_this_exp}} </ion-label>
        <!-- <ion-button fill="outline" slot="end">Next step</ion-button> -->
      </ion-item>


    </ion-card-content>

  </ion-card>

  <ion-card>
    <ion-item >
      <ion-icon color="primary" class="optimizeCenter"  name="arrow-round-down" ></ion-icon>
    </ion-item>
  </ion-card>


  <ion-button expand="full">{{language.How_it}}</ion-button>

  <ion-card>

    <ion-card-content>
      <ion-item>
        <ion-icon color="primary" name="globe" slot="start"></ion-icon>
        <ion-label class="moveText">{{language.Person_create}} </ion-label>
        <!-- <ion-button fill="outline" slot="end">Next step</ion-button> -->
      </ion-item>


    </ion-card-content>

  </ion-card>

  <ion-card>
    <ion-item >
      <ion-icon color="primary" class="optimizeCenter"  name="arrow-round-down" ></ion-icon>
    </ion-item>
  </ion-card>

  <ion-button expand="full">{{language.What__after}}</ion-button>

  <ion-card>

    <ion-card-content>
      <ion-item>
        <ion-icon color="primary" name="globe" slot="start"></ion-icon>
        <ion-label class="moveText">{{language.more__people}} </ion-label>
        <!-- <ion-button fill="outline" slot="end">Next step</ion-button> -->
      </ion-item>


    </ion-card-content>

  </ion-card>

  <ion-card>
    <ion-item >
      <ion-icon color="primary" class="optimizeCenter"  name="arrow-round-down" ></ion-icon>
    </ion-item>
  </ion-card>

    <ion-button expand="full">{{language.Why_it_system}}</ion-button>

    <ion-card>

      <ion-card-content>
        <ion-item>
          <ion-icon color="primary" name="globe" slot="start"></ion-icon>
          <ion-label class="moveText">{{language.Because_peoples_need}} </ion-label>
          <!-- <ion-button fill="outline" slot="end">Next step</ion-button> -->
        </ion-item>
        <ion-item>
          <ion-icon color="primary" name="globe" slot="start"></ion-icon>
          <ion-label class="moveText">{{language.Now_is_the}} </ion-label>
          <!-- <ion-button fill="outline" slot="end">Next step</ion-button> -->
        </ion-item>
        <ion-item>
          <ion-icon color="primary" name="globe" slot="start"></ion-icon>
          <ion-label class="moveText">{{language.People_ready}} </ion-label>
          <!-- <ion-button fill="outline" slot="end">Next step</ion-button> -->
        </ion-item>


      </ion-card-content>

    </ion-card>
    <ion-card>
      <ion-item >
        <ion-icon color="primary" class="optimizeCenter"  name="arrow-round-down" ></ion-icon>
      </ion-item>
    </ion-card>
    <ion-button expand="full">{{language.Why_you}}</ion-button>

    <ion-card>

      <ion-card-content>
        <ion-item>
          <ion-icon color="primary" name="globe" slot="start"></ion-icon>
          <ion-label class="moveText">{{language.Because_this_biznes}} </ion-label>
          <!-- <ion-button fill="outline" slot="end">Next step</ion-button> -->
        </ion-item>
        <ion-item>
          <ion-icon color="primary" name="globe" slot="start"></ion-icon>
          <ion-label class="moveText">{{language.You_need_to}} </ion-label>
          <!-- <ion-button fill="outline" slot="end">Next step</ion-button> -->
        </ion-item>


      </ion-card-content>

    </ion-card>
    <ion-card>
      <ion-item >
        <ion-icon color="primary" class="optimizeCenter"  name="arrow-round-down" ></ion-icon>
      </ion-item>
    </ion-card>

    <ion-button expand="block" color="secondary">{{language.Next_Step}}</ion-button>



</ion-content>
