<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="language">{{language.myrequest}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="language">

  <div class="globtwo">

    <ul class="myhidescrolledtwo" >
      <li class="listv" *ngFor="let detail of details;index as i;trackBy: trackByFn;"  >
        <div class="leftBlock" (click)="detailRoute(detail.id)">

          <div class="level1">{{i+1}}</div>
          <div class="level2">{{ detail.time }} {{language.twentyfour}}</div>
          <div class="level3">{{ detail.date }}</div>

        </div>
        <div class="rightBlock">


          <div class="Rlevel1" (click)="detailRoute(detail.id)">
              <div class="RHaad1">

                <div class="RHaad1_child">
                  <div class="RHaad1_child1"><ion-icon name="radio-button-off"></ion-icon></div>
                  <div class="RHaad1_child2"><ion-icon name="radio-button-on"></ion-icon></div>
                  <div class="RHaad1_child3"><ion-icon name="radio-button-on"></ion-icon></div>
                  <div class="RHaad1_child4"><ion-icon name="radio-button-on"></ion-icon></div>
                  <div class="RHaad1_child5"><ion-icon name="radio-button-off"></ion-icon></div>
                </div>

              </div>

              <div class="RHaad2">
                <div class="RHaad2_ch1">{{detail.fromPoint}}</div>
                <div class="RHaad2_ch2"><hr></div>
                <div class="RHaad2_ch3">{{detail.toPoint}}</div>
              </div>


          </div>
          <div class="Rlevel2">
              <div class="Rlevel2_child1">
                <div class="Rlevel2_child1_child1">{{language.status}}</div>
                <div class="Rlevel2_child1_child2">

                  <ion-button *ngIf="detail.status == 1" (click)="setDeleteorUpdate(detail)" size="small" color="danger">
                    delete
                  </ion-button>

                  <ion-button *ngIf="detail.status == 0" (click)="setDeleteorUpdate(detail)" size="small" color="secondary">
                    restore
                  </ion-button>

                </div>
              </div>
              <!-- <div class="Rlevel2_child2">
                <div class="Rlevel2_child1_child1">{{language.Amount}}</div>
                <div class="Rlevel2_child1_child2">{{detail.sum}} $</div>
              </div>
              <div class="Rlevel2_child3">
                <div class="Rlevel2_child1_child1">{{language.Weight}}</div>
                <div class="Rlevel2_child1_child2">{{detail.weight}}</div>
              </div> -->

          </div>


        </div>

        <div>
          ddfd
        </div>
      </li>
    </ul>

  </div>

</ion-content>
