ion-content{
  --background: linear-gradient(to right, #e6efff 0%, #b3cfff 100%);
}


.w_text{
  width: 91%;
  height: 7%;
  padding: 1%;
  padding-top: 2.5%;
  text-align: center;
  background-color: white;
  border-radius: 20px;
  font-size: 1.3em;
  font-weight: 500;
  margin-left: 5%;
  margin-top: 40%;

}

.phoneclass{
    margin-top:10%;
}
