<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="language">{{language.chat}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content
[scrollEvents]="true"
(ionScrollStart)="logScrollStart()"
(ionScroll)="logScrolling($event)"
(ionScrollEnd)="logScrollEnd()"
>



  <ion-list class="chat" lines="none">

    <ion-item *ngFor="let chat of chat_array;index as i;trackBy: trackByFn;">
    <div *ngIf="chat.fromEmail != email" class="friend" >

      <div class="friend_1" >

        <div *ngIf="sendimage_url != undefined" class="friend_1_avatar" [style.backgroundImage]="'url(' + sendimage_url + ')'" >

        </div>
      </div>
      <div class="friend_2">

          <div class="friend_2_1">
                 {{chat.message}}
          </div>

      </div>



    </div>

    <div *ngIf="chat.fromEmail == email" class="my_message">

        <div class="my_message_1">
            {{chat.message}}
        </div>

    </div>

    </ion-item>

  </ion-list>

  <div class="bottom_area">
          <div class="bottom_area_1">
            <input class="message_input" required [formControl]="inputstring" type="text" placeholder="text..">
          </div>
          <div class="bottom_area_2">
              <i (click)="sendMessage()" class="material-icons">
                  send
              </i>
          </div>
  </div>



</ion-content>
