<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>chat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="chat">

    <div class="friend">

      <div class="friend_1" >

        <div class="friend_1_avatar" [style.backgroundImage]="'url('+ 'https://www.w3schools.com/w3css/img_avatar3.png' +')'" >

        </div>
      </div>
      <div class="friend_2">

          <div class="friend_2_1">
                 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est mollitia odio iure quaerat at inventore soluta dolorem fugit distinctio officiis ullam aperiam, placeat voluptatibus. Reiciendis fuga autem sapiente non quibusdam.
          </div>

      </div>



    </div>

    <div class="my_message">

        <div class="my_message_1">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque est perferendis similique quisquam doloremque cum. Accusamus optio tenetur vero, illum voluptatum perferendis magni ipsum libero odit, laudantium repudiandae quam dolores!
        </div>

    </div>

  </div>

  <div class="bottom_area">
          <div class="bottom_area_1">
            <input class="message_input" type="text" placeholder="text..">
          </div>
          <div class="bottom_area_2">
              <i class="material-icons">
                  send
              </i>
          </div>
  </div>

</ion-content>
