<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="language">{{language.statictics}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="language">


  <google-chart #chart
     [title]="title"
     [type]="type"
     [data]="data"
     [columnNames]="columnNames"
     [options]="options"
     [width]="width"
     [height]="height">
  </google-chart>



  <ion-list>

      <ion-item  *ngIf="language && countvideo > 0">
        <ion-label  class="fontsize20 boldtext center">{{language.taskfour}} : {{countvideo}}</ion-label>
      </ion-item>

      <ion-item  *ngFor="let detail of details;index as i;trackBy: trackByFn;" (click)="goToUrl(detail.url)">
        <ion-label >{{ detail.url }}</ion-label>
      </ion-item>
  </ion-list>



</ion-content>
