
agm-map {
      height: 92%;
    }
.map {
      height: 92%;
    }

.myclass{
  width:100%;
  height: 7vh;
  padding:2px;
  font-size: 20px;
}


.mapButton{
  position: fixed;
  bottom: 5vh;
  left:35%;
}
